<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <fieldset>
        <legend>Send file</legend>
        <h2>Enter your mail</h2>
        <form action="/file/send/<%= file %>">
            <input type="email" name="email" id="email" placeholder="example#gmail.com">
            <button type="submit">Send</button>
        </form>
    </fieldset>
    
</body>
</html>