<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/img/logo.PNG">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SathiShare</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
       
    </style>
</head>

<body>
    <div class="container">
        <div class="loading-spinner" id="loadingSpinner"></div>
        <!-- Search Bar -->
        <div class="search-container">
            <div class="search-box">
                
                <input id = "search" type="text" placeholder="Search...">
                <i class="fas fa-search" onclick="window.location.href=`/search/${document.getElementById('search').value}`"></i> 
            </div>
        </div>
        <!-- Dark Mode Toggle Button -->
        <div class="dark-mode-toggle">
            <button class="toggle-button" onclick="toggleDarkMode()">
                <i class="fas fa-sun" id="sun-icon"></i>
                <i class="fas fa-moon" id="moon-icon"></i>
            </button>
        </div>
        <div class="logo">
            <img src="/img/logo.PNG" alt="Project Logo">
        </div>
        <header>
            <div class="title">Welcome to SathiShare</div>
            <div class="description">Share photos, videos, and files, or start chatting with friends. No login required; just enter your name and start connecting!</div>
        </header>
        <div class="logo-container">
            <div class="buttons-wrapper">
                <div class="button" onclick="window.location.href='/text/post/'">Share Code</div>
                <div class="button" onclick="document.getElementById('fileInput').click()">Share Files</div>
                <div class="button" onclick="window.location.href='/chat'">Start Chat</div>
            </div>
        </div>
        <!-- Hidden form for file upload -->
        <form id="fileForm" action="/file" method="post" enctype="multipart/form-data">
            <input type="file" id="fileInput" name="file" class="hidden-input" onchange="submitForm()" multiple>
        </form>

        <!-- Social Links Section -->
        <div class="social-links">
            <div class="social-links-container">
                <a href="https://www.linkedin.com/in/aashis-rijal-190402276" target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.facebook.com/aashis.rijal.92" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a>
                <a href="https://github.com/aashisrjl" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
    <script>
        function submitForm() {
            document.getElementById('loadingSpinner').style.display = 'block';
            // Trigger form submission when a file is selected
            document.getElementById('fileForm').submit();
        }
        function toggleDarkMode(e) {
            document.body.classList.toggle('dark-mode');
            const isDarkMode = document.body.classList.contains('dark-mode');
            document.getElementById('sun-icon').style.display = isDarkMode ? 'none' : 'inline';
            document.getElementById('moon-icon').style.display = isDarkMode ? 'inline' : 'none';
            e.preventDefault();
        }
    </script>
    <script src="/script/loader.js"></script>
    <%- include('component/messageBox') %>
<script>
    const msgBox = document.querySelector(".msg");
    setTimeout(() => {
      msgBox.remove();
      }, 3000);
</script>
</body>
</html>
