<% if(error){ %>
    <div style="background-Color:red" class="msg">
     <p> <%- error %></p> 
    </div>
  <% } %>
  <% if(success){ %>
    <div style="background-Color:green" class="msg">
      <p><%- success %></p> 
    </div>
  <% } %>