.button{
    background-color: red;
}
.button:active{
    transform: scale(1.2);
    transition-delay: 1.3s;
}
.kedar{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 15px 10px 5px black;
}
.msg{
    display: flex;
    height: 30px;
    width: 300px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
}
